@import url("https://fonts.googleapis.com/css2?family=Roboto,wght@1,300&display=swap");
* {
    font-family: "Roboto", sans-serif;
    user-select: none;
}
body {
    background-image: linear-gradient(to right, #e5e7eb, #93c5fd, #e5e7eb);
    
}
@tailwind base;
@tailwind components;
@tailwind utilities;
